.logo{
	width: 88px;
	padding: 3px;
	margin-left: 8%;
}


.topright {
	height: 145px;
	padding-left: 0%;
	padding: 1%;
}

.item {
	height: 474px; 
}

.links {
	padding: 0%;
	padding-left: 0%;
}

.sublinks {
	padding-right: 0%;

}

#search{
	position: absolute;
	top: 50%;
	z-index: 10000;
}


.form-control{
	margin-bottom: 10px;
}

.btn-default{
	margin-bottom: 10px;
}

.map-container{
	height: 172px;
}

#map{
	border: dimgrey;
	border-style: ridge;
}

.container1 {
	height: 100px;
	overflow: hidden;
	margin-bottom: 10px;
}

.nopaddingleft{
	padding-left: 0%;
}

h1.maintittle{ 
	font-size: 36px;
	font-family: sans-serif;
}

.company-name-container{
	padding-left: 17px;
}

.greycolour {
	background-color: rgb(145, 143, 143);
	border-color: #A09191;
	border-width:1px;
	font-weight: bold;
	color: white;
}

.phone {
	font-weight: bold;
	font-size: 18px;
}

#searchbar {
	position: absolute;
	top: 337px;
	width: 100%;
	left: 1%;
	padding: 8px;
}

.contact-content {
	background-image: url("../images/contact_bg.jpg");
	background-repeat: no-repeat;
}

.contact-title{
	margin-bottom: 25px;
	font-family: sans-serif;
	font-weight: bold;
}

.form-content form{
	height: 435px;
}

.clear{
	clear: both;
}

.withheight {
	height: 30px;
}


.contact_tittle{
	font: 18px "Proximanova","Trebuchet MS", Arial, Helvetica, sans-serif;
	color: black;
}

.addressfooter {
	color: grey;
	font-family: sans-serif;
	font-weight: 500px;
	text-align: center;
}

.office_image {
	background-image: url("../images/office.jpg");
	background-repeat: no-repeat;
	height: 474px;
}

.row .col-md-6 .col-md-6 {
	color:white;
	text-align: right;
	font-family:"Proximanova","Trebuchet MS", Arial, Helvetica, sans-serif;
}

.blackopacity {
	background-color: black;
	opacity: 0.7;
}

#boss_image {
	border: white;
	border-style: ridge;
}

.boss_tittle {
	text-align: center;
}

.tasacion_image {
	background-image: url("../images/tasacion.jpg");
	background-repeat: no-repeat;
	height: 474px;
}

.text_tasacion {
	color: gainsboro;
	font-family: sans-serif;
}

#paragraph-tasacion {
	margin-top: 0px;
	font-size: 17px;
}

h1 a, h1 a:hover {
	text-decoration: none;
	color: black;
}